//primary
$red: #DD1D18;
$mint: #57B68B;
$purple: #5E57B7;
$yellow: #FFDD57;
$graffit: #4C5866;

//secondary
$red_light: #FFDCDB;
$mint_light: #E6F4EE;
$purple_light: #E7E6F4;
$yellow_light: #FFF8DB;
$grey_40: #8392A4;
$grey_30: #E2E5E9;
$grey_20: #EEF0F2;
$grey_10: #F5F6F8;
$white: #FFFFFF;